# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore all files ending in .tmp
*.tmp

# Ignore .env file
.env

# Ignore all files in the temp directory
temp/

# ignore testing experimental folders
venv/
wikitext-2/
fmri_timeseries/
ava_data/
__pychche__/
data/
idea/

.DS_Store

1.txt
DNA.py
Hand_made_generative.py
test_learning.py
wikitext.py
